.con-vs-avatar {
  @apply w-8 h-8;
  @apply relative inline-block;
  @apply cursor-pointer;
  border-radius: 50%;
  margin: 5px;

  &.large {
    width: 50px;
    height: 50px;
  }

  &.small {
    @apply w-6 h-6;

    .vs-avatar-text {
      font-size: 0.9375em;
    }
  }
}

.vs-avatar--count {
  @apply absolute;
  z-index: 10000;
  top: 1px;
  right: 1px;
  width: 7px;
  height: 7px;
  border-radius: 50%;

  &.badgeNumber {
    @apply w-auto h-auto;
    @apply rounded;
    @apply text-white;
    top: -3px;
    right: 0;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.625em;
  }
}

.vs-avatar--text {
  @apply absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.vs-avatar--con-img {
  @apply absolute w-full h-full overflow-hidden;
  border-radius: 50%;

  img {
    @apply w-full;
  }
}

@each $colorx,$hexColor in $vs-colors {
  .con-vs-avatar-#{$colorx} {
    background: $hexColor;
  }
  .dot-count-#{$colorx} {
    background: $hexColor;
  }
  .vs-avatar-text-#{$colorx} {
    color: $hexColor;
  }
}
