.con-vs-alert {
  @apply flex justify-between rounded-md bg-white w-full relative text-sm overflow-hidden;
  transition: all 0.25s ease;
}

.icon-alert {
  &--wrapper {
    @apply my-1 mt-1.5 mx-3 rounded-full flex items-center justify-center;
    @apply min-w-8 max-w-8 min-h-8 max-h-8;
  }

  &--icon {
    @apply rounded-full flex items-center justify-center;
    @apply min-w-6 max-w-6 min-h-6 max-h-6;
    i {
      @apply w-full h-full min-w-6 max-w-6 min-h-6 max-h-6;
    }
  }

}

.vs-alert {
  @apply overflow-hidden flex items-start w-full ;
}

.vs-alert--title {
  @apply text-base font-bold;
}

.vs-alert--body {
  @apply text-sm my-auto ltr:text-left rtl:text-right;
}

.vs-alert--actions {
  @apply flex justify-start items-center gap-x-3;
  button {
    @apply font-bold px-1;
  }
}

.vs-alert--close {
  @apply h-fit flex flex-grow-0 relative p-3 items-center cursor-pointer;
  transition: all 0.2s ease;

  &:hover {
    @apply shadow-md;
  }
}

.con-vs-alert-small {
  .vs-alert--body {
    @apply text-xxs py-1 px-3 #{!important};
  }
}

@each $colorx, $hexColor in $vs-colors {
  .con-vs-alert-#{$colorx} {
    @apply border border-solid;
    background: getColor($colorx, 0.1);
    box-shadow: 0 2px 8px 0 getColor($colorx, 0.1);
    border-color: getColor($colorx, 0.2);
    color: $hexColor;

    h4 {
      color: darken($hexColor, 10%);
    }

    .vs-alert--body {
      color: darken($hexColor, 8%);
    }

    .con-x {
      color: getColor($colorx, 1);
    }

    .icon-alert {
      &--wrapper {
        border: 2px solid getColor($colorx, 0.2);
      }

      &--icon {
        border: 2px solid getColor($colorx, 0.5);
      }
    }

    .vs-alert--actions {
      &-dismiss {
        &.vs-button {
          color: getColor($colorx, 1) !important;
        }
      }
    }

  }
}

.con-vs-alert-light {
  @apply border border-solid border-grey-300;
  @apply bg-white shadow-sm rounded-md;
  @apply text-grey-600;
}
