.vs-button {
  @apply py-2 px-4 text-white rounded bg-transparent overflow-hidden relative cursor-pointer border-none whitespace-nowrap;
  height: 48px !important;
  .vs-button--text{
    @apply text-sm;
  }
  transition: all 0.2s ease;
  //height: 48px !important;
  &.vs-radius {
    @apply rounded-elips
  }
  &.large {
    height: 56px !important;
    .vs-button--text{
      @apply text-lg;
    }
    @apply py-3 px-8;
  }
  &.small {
    height: 48px !important;
    @apply py-1 px-2;
  }
  &.mini {
    height: 32px !important;
    .vs-button--text{
      @apply text-xs;
    }
  }
  &:disabled {
    @apply cursor-default pointer-events-none;
    opacity: $vs-disabled-opacity;
  }
}
.vs-button--block{
  @apply w-full;
  .vs-button--text{
    @apply justify-center;
  }
}
.flex .vs-button{
  //@apply h-fit;
}
.vs-button--icon {
  @apply block relative;
  z-index: 49;
  transition: all 0.2s ease;
}

.vs-button--background {
  @apply rounded-full absolute w-2.5 h-2.5 z-0	;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-shadow: inset 0 0 60px 0 rgba(255, 255, 255, 0.5);
}

.vs-button--text {
  @apply flex flex-row gap-2 justify-center items-center relative w-full;
  color: inherit;
  transition: $vs-transition;
}


.vs-button-circle{
  @apply flex justify-center items-center rounded-full p-0 #{!important};
  @apply bg-white shadow-md border border-solid border-grey-300 #{!important};
  @apply  cursor-pointer text-center text-grey-700;
  @apply w-6 h-6 #{!important};
  .vs-button--text{
    @apply flex justify-center items-center text-sm #{!important};
  }
}
.vs-button-filled,.vs-button-border{
  @apply shadow-sm;
}
.vs-button-border.vs-button-light{
  @apply bg-white border border-solid border-grey-300 #{!important};
}
.vs-button-border, .vs-button-flat {
  &.isActive {
    .vs-button--text, .vs-button--icon {
      //color: rgb(255, 255, 255) !important;
    }
  }
}

.vs-button-line {
  @apply rounded-none overflow-visible	border-solid;

  .vs-button-linex {
    @apply h-0.5 w-0 absolute;
    transition: all 0.2s ease;
    left: 0;
    bottom: -2px;
  }

  &:hover {
    .vs-button-linex {
      @apply w-full #{!important};
    }
  }
}

.vs-button-gradient {
  &:hover {
    transform: translate(0, -2px);
    box-shadow: 0 8px 25px -8px rgb(170, 170, 170);
  }

  &:active {
    transform: translate(0, 0);
    box-shadow: 0 8px 0 -8px rgb(170, 170, 170);
  }
}

.vs-button-relief {
  &:active {
    @apply shadow-none #{!important};
    transform: translate(0, 3px);
  }
}

.includeIcon {
  @apply flex items-center;
  @include dirValue(float, 0);
}

.includeIconOnly {
  width: 48px !important;

  &.large {
    width: 56px !important;
    font-size: 0.7em;
  }

  &.small {
    width: 48px !important;

    .vs-icon {
      font-size: 0.85rem;
    }
  }
}

//apply shadow for all bordered buttons
.vs-button-border{
  @apply shadow-sm;
}
.vs-button-primary{
  &.vs-button-filled{
    @apply border border-solid border-primary bg-primary shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }
  &.vs-button-border,&.vs-button-flat{
    @apply text-primary-700;
    &.isActive {
      @apply text-primary-300 #{!important}
    }

    &:hover {
      @apply bg-primary-100;
    }

    .vs-button-backgroundx {
      @apply bg-primary shadow-md;
    }
  }
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }
  &.vs-button-line {
    @apply text-primary border-primary;
    .vs-button-linex {
      @apply bg-primary;
    }
  }
  &.vs-button-border{
    @apply border border-solid border-primary-700;
  }
}
.vs-button-secondary,.vs-button-success{
  &.vs-button-filled{
    @apply border border-solid border-success bg-success shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }
  &.vs-button-border,&.vs-button-flat{
    @apply text-success-700;
    .vs-button--text {
      &.isActive {
        //@apply text-white #{!important}
      }
    }
    &:hover {
      @apply bg-success-50;
    }

    .vs-button-backgroundx {
      @apply bg-success shadow-md;
    }
  }
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }
  &.vs-button-line {
    @apply text-primary border-success;
    .vs-button-linex {
      @apply bg-success;
    }
  }
  &.vs-button-border{
    @apply border border-solid border-success-700;
  }
}
.vs-button-danger{
  //fixed all issue
  &.vs-button-filled{
    @apply border border-solid border-danger bg-danger shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }

  //TODO must be checked
  &.vs-button-border,&.vs-button-flat{
    @apply text-danger-700;
    &.isActive {
      @apply text-white #{!important}
    }
    &:hover {
      @apply bg-danger-50;
    }

    .vs-button-backgroundx {
      @apply bg-danger shadow-md;
    }
  }

  //TODO must be checked
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }

  //TODO must be checked
  &.vs-button-line {
    @apply text-primary border-primary;
    .vs-button-linex {
      @apply bg-primary;
    }
  }

  &.vs-button-border{
    @apply border border-solid border-danger-700;
  }
}
.vs-button-light{
  //fixed all issue
  &.vs-button-filled{
    @apply text-grey-700 border border-solid border-grey-200 bg-grey-100 shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }

  //fixed all issue
  &.vs-button-border,&.vs-button-flat{
    @apply text-grey-700;
    .vs-button--text {
      &.isActive {
        //@apply text-white #{!important}
      }
    }
    &:hover {
      @apply bg-grey-100;
    }
    .vs-button-backgroundx {
      @apply bg-grey-100;
    }
  }

  //fixed all issue
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }

  //fixed all issue
  &.vs-button-line {
    @apply text-grey-700 border-grey-200;
    .vs-button-linex {
      @apply bg-grey-100;
    }
  }
}
.vs-button-dark{
  &.vs-button-filled{
    @apply border border-solid border-primary bg-primary shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }
  &.vs-button-border,&.vs-button-flat{
    @apply text-grey-700;
    .vs-button--text {
      &.isActive {
        //@apply text-white #{!important}
      }
    }
    &:hover {
      @apply bg-primary-100;
    }

    .vs-button-backgroundx {
      @apply bg-primary shadow-md;
    }
  }
  &.vs-button-border{
    @apply border border-solid border-grey-700;
  }
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }
  &.vs-button-line {
    @apply text-grey-700 border-grey-700;
    .vs-button-linex {
      @apply bg-grey-700;
    }
  }
}
.vs-button-warning{
  &.vs-button-filled{
    @apply border border-solid border-warning bg-warning shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }
  &.vs-button-border,&.vs-button-flat{
    @apply text-warning-700;
    .vs-button--text {
      &.isActive {
        //@apply text-white #{!important}
      }
    }
    &:hover {
      @apply bg-warning-50;
    }

    .vs-button-backgroundx {
      @apply bg-warning shadow-md;
    }
  }
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }
  &.vs-button-line {
    @apply text-warning border-warning;
    .vs-button-linex {
      @apply bg-warning;
    }
  }
}
.vs-button-info{
  &.vs-button-filled{
    @apply border border-solid border-info bg-info shadow-sm;
    &:hover{
      @apply shadow-md
    }
  }
  &.vs-button-border,&.vs-button-flat{
    @apply text-info;
    &.isActive {
      @apply text-info-300 #{!important}
    }

    &:hover {
      @apply bg-info-100;
    }

    .vs-button-backgroundx {
      @apply bg-info shadow-md;
    }
  }
  &.vs-button-flat {
    @apply border border-solid border-transparent;
  }
  &.vs-button-line {
    @apply text-info border-info;
    .vs-button-linex {
      @apply bg-info;
    }
  }
  &.vs-button-border{
    @apply border border-solid border-info-700;
  }
}

