.vs-collapse {
  @apply rounded-lg p-2.5 overflow-hidden;
  transition: all 0.3s ease;

  &.shadow {
    .open-item {
      @apply mb-2.5 rounded-md	;
      transform: scale(1.01);
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
      margin-top: 5px;
      border-bottom: 0 solid rgba(0, 0, 0, 0);

      .vs-collapse-item--icon-header {
        transform: translate(0,-50%) rotate(180deg);
      }

      .con-content-item {
        @apply opacity-100;
      }
    }
  }

  &.margin {
    .vs-collapse-item {
      @apply my-2.5;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      border-bottom: 0 solid rgba(0, 0, 0, 0);
    }

    .open-item {
      .con-content-item {
        @apply opacity-100;
      }

      .vs-collapse-item--icon-header {
        transform: translate(0,-50%) rotate(180deg);
      }
    }
  }

  &.border {
    @apply p-0 bg-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .vs-collapse-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .open-item {
      .con-content-item {
        @apply opacity-100;
      }

      .vs-collapse-item--icon-header {
        transform: translate(0,-50%) rotate(180deg);
      }
    }
  }

  &.default {
    .open-item {
      .con-content--item {
        @apply opacity-100;
      }

      .vs-collapse-item--icon-header {
        transform: translate(0,-50%) rotate(180deg);
      }
    }
  }
}

.vs-collapse-item {
  @apply cursor-pointer bg-white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  //transition: all 0.25s ease;

  &.open-item {
    .con-content--item {
      @apply opacity-100;
    }
  }

  &.disabledx {
    @apply cursor-default pointer-events-none;
    opacity: $vs-disabled-opacity;
    z-index: 999;
  }

  &:last-child {
    border-bottom: 0 solid rgba(0, 0, 0, 0) !important;
  }
}

.vs-collapse-item--header {
  @apply block p-2.5 relative;
  transition: all 0.25s ease;
}

.vs-collapse-item--icon-header {
  @apply absolute top-6 flex justify-center items-center left-2;
  transform: translate(0,-50%);
  transition: all 0.25s ease;
  border-radius: 5px;
}

.vs-collapse-item--content {
  @apply overflow-hidden;
  transition: all 0.2s ease;
}

.con-content--item {
  @apply opacity-20;
  padding: 0 10px 10px;
  font-size: 0.85rem;
  transition: all 0.25s ease;
}
