.dropdown-group-enter-active, .dropdown-group-leave-active {
  transition: opacity 0.25s;
}

.dropdown-group-enter, .dropdown-group-leave-to {
  @apply opacity-0;
}

.vs-con-dropdown {
  @apply relative inline-block border-0 bg-transparent;
  * {
    @apply pointer-events-none;
  }

  a {
    user-select: none !important;
  }

  &:active {
    @apply opacity-100 #{!important};
  }
}

.vuesax-app-is-rtl {
  .vs-con-dropdown {
    .a-icon {
      @apply flex-row-reverse;
    }
  }
}

.vs-dropdown--group {
  @apply relative w-auto block cursor-pointer;
  @apply list-none;
  margin-left: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;

  &.marginIcon {
    padding-right: 25px;

    &:hover {
      .con-dropdown--group {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      > .icon-group {
        @apply opacity-0;
        transform: translate(0, -50%) rotate(-180deg);
      }
    }
  }
}

.vs-dropdown--group-label {
  @apply font-normal pointer-events-none;
  font-size: 0.9375em;
}

.vs-dropdown--group-icon {
  @apply absolute right-4 text-xl top-1/2;
  transition: all 0.25s ease;
  transform: translate(0, -50%);
}

.con-dropdown--group-con-ul {
  @apply relative right-0 top-0 w-auto overflow-hidden;
  z-index: 100000;
  padding-left: 3px;
  min-width: 130px;
  background: inherit;
  transition: all 0.3s ease;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.con-dropdown--group-ul {
  @apply pl-0 relative bg-white;
  padding-top: 5px;
  border-radius: 5px;
}

.no-cascading {
  @apply font-bold px-0 ml-0 #{!important};
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 5px !important;

  > h3 {
    @apply py-1.5 px-2.5 cursor-default;
    font-size: 0.9375em;
  }

  .con-dropdown--group-no-cascading {
    @apply w-full font-bold h-auto opacity-100 #{!important};
    border-left: 1px solid rgba(0, 0, 0, 0) !important;

    ul {
      @apply w-full pl-0 #{!important};
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0) !important;
    }
  }
}

.vs-dropdown--item {
  @apply relative w-full m-0 list-none px-2 min-w-40 whitespace-nowrap #{!important};
  @apply text-sm font-normal;

  &:hover{
    @apply bg-grey-100 rounded-md transition-all;
  }

  .vs-dropdown--item-link {
    @apply relative py-1.5 w-full cursor-pointer flex flex-row items-center;
    @apply no-underline;
    transition: all 0.2s ease;

    span{
      @apply min-w-40 text-sm font-medium py-2.5;
    }
    .vs-dropdown--item-icon,.vs-dropdown-item-shortcut{
      @apply pl-1 pr-0 w-8 text-center;
      &:before{
        @apply min-w-4 min-h-4 flex justify-center leading-5;
      }
    }
    .vs-dropdown-item-shortcut{
      @apply text-grey-400;
    }
    &.disabled {
      @apply pointer-events-none cursor-default #{!important};
      user-select: none;
      opacity: $vs-disabled-opacity !important;
      color: rgba(0, 0, 0, $vs-disabled-opacity) !important;
    }
  }

  &.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 5px;
  }
}

.dropdownx-enter, .dropdownx-leave-to {
  @apply opacity-0;
  transform: translate(-100%, 8px) !important;
}

.con-vs-dropdown--menu {
  @apply pt-2.5 absolute h-auto w-auto;
  z-index: 20000;
  transform: translate(-100%);
  transition: opacity 0.25s, transform 0.25s, width 0.3s ease;

  &.rightx {
    .vs-dropdown--menu--after {
      @apply right-0;
      left: 30px;
    }
  }

  &::after {
    @apply block w-full h-2.5 absolute left-0 top-full;
    content: '';
  }
}

.vs-dropdown--menu {
  @apply bg-white px-2 relative m-0 #{!important};
  border-radius: 5px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
}

.vs-dropdown-right--menu--after {
  @apply absolute left-5 w-2.5 h-2.5 block bg-white;
  transform: rotate(45deg) translate(-7px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
}

.vs-dropdown--menu--after {
  @apply absolute right-2.5 w-2.5 h-2.5 block bg-white;
  transform: rotate(45deg) translate(-7px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-sizing: border-box;
}

.notHeight .vs-dropdown-menu {
  &::after {
    @apply top-auto bottom-0;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(45deg) translate(7px);
  }
}

.vs-dropdown--custom {
  @apply px-2 py-2 rounded-lg shadow-lg border border-grey-200 border-solid text-gray-700 #{!important};
}
