@import "font";
@import "../variables";
:root{
  --tw-font-size : 16px;
}

$vs-colors: (
  // 'primary': #244a9a, //$vs-primary,
  // 'secondary': #00ccaa, //$vs-secondary,
  // 'danger': #ff4d01, //$vs-danger,
  // 'success': #2DB500, //$vs-success,
  // 'warning': #ff4d01, //$vs-warning,
  // 'dark': #343434, //$vs-dark,
  'light': #d9d9d9, //$vs-light
  'white' : #ffffff,
  'black' : #3c3c3c,
  'blue' : #0071f6,


  //primary
  'primary':  #244a9a,
  'primary-100':  #e6ebff,
  'primary-150':  #9baed4,
  'primary-200':  #748cc0,
  'primary-300':  #9baeff,
  'primary-400':  #4c6bad,
  'primary-500':  #244a9a,
  'primary-600':  #1d3b7b,
  'primary-700':  #162c5c,
  'primary-800':  #0e1e3e,
  'primary-850':  #0b162e,
  'primary-900':  #070f1f,

  //secondary
  'secondary': #00ccaa,
  'secondary-25': #c4f5ec80,
  'secondary-50': #e5fdf3,
  'secondary-100': #c4f5ec,
  'secondary-150': #abf0e4,
  'secondary-200': #93ebdc,
  'secondary-300': #62e0cb,
  'secondary-400': #31d6bb,
  'secondary-500': #00ccaa,
  'secondary-600': #00a388,
  'secondary-700': #007a66,
  'secondary-800': #005244,
  'secondary-850': #003d33,
  'secondary-900': #002922,

  //gray
  'grey': #818181,
  'grey-25': #F2F4F7,
  'grey-50': #f8f8f8,
  'grey-100': #e6e6e6,
  'grey-150': #d9d9d9,
  'grey-200': #cdcdcd,
  'grey-300': #cdcdcd,
  'grey-400': #9a9a9a,
  'grey-500': #818181,
  'grey-600': #676767,
  'grey-700': #4d4d4d,
  'grey-800': #343434,
  'grey-850': #272727,
  'grey-900': #1a1a1a,

  //success
  'success': #2DB500,
  'success-50': #eefbe5,
  'success-100': #C1F0B2,
  'success-150': #AFE99B,
  'success-200': #9CE185,
  'success-300': #77D359,
  'success-400': #52C42C,
  'success-500': #2DB500,
  'success-600': #249100,
  'success-700': #1B6D00,
  'success-800': #124800,
  'success-850': #0E3600,
  'success-900': #092400,

  //danger
  'danger': #ff4d01,
  'danger-50': #f6d7d9,
  'danger-100': #ffcccc,
  'danger-150': #ffb3b3,
  'danger-200': #ff9999,
  'danger-300': #ff6767,
  'danger-400': #ff3434,
  'danger-500': #ff4d01,
  'danger-600': #cc0101,
  'danger-700': #990101,
  'danger-800': #660000,
  'danger-850': #4d0000,
  'danger-900': #330000,

  //warning
  'warning': #ff4d01,
  'warning-50': #fffaf0,
  'warning-100': #ffdbcc,
  'warning-150': #ffcab3,
  'warning-200': #ffb899,
  'warning-300': #ff9467,
  'warning-400': #ff7134,
  'warning-500': #ff4d01,
  'warning-600': #cc3e01,
  'warning-700': #992e01,
  'warning-800': #661f00,
  'warning-850': #4d1700,
  'warning-900': #330f00,

  //info
  'info': #0071f6,
  'info-50': #e5f8fe,
  'info-100': #cce3fd,
  'info-150': #b2d4fc,
  'info-200': #99c6fb,
  'info-300': #66aafa,
  'info-400': #338df8,
  'info-500': #0071f6,
  'info-600': #005ac5,
  'info-700': #004494,
  'info-800': #002d62,
  'info-850': #00224a,
  'info-900': #001731,
) !default;

$vs-grid-breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'tablet':768px,
  'md': 992px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1440px
) !default;


$vs-disabled-opacity: 0.5 !default;

$vs-transition: all 0.25s ease !default;

$IRANSansX: IRANSansX, sans-serif !default;
$font-family-base : $IRANSansX;
$font-size-base: var(--tw-font-size) !default;
$font-size-large: (calc(var(--tw-font-size) * 1.25)) !default;
$font-size-small: (calc(var(--tw-font-size) * 0.85)) !default;

$h1-font-size: calc(var(--tw-font-size) * 1.5);
$h2-font-size: calc(var(--tw-font-size) * 1.4);
$h3-font-size: calc(var(--tw-font-size) * 1.3);
$h4-font-size: calc(var(--tw-font-size) * 1.2);
$h5-font-size: calc(var(--tw-font-size) * 1.1);
$h6-font-size: var(--tw-font-size);
$headings-font-weight: bold;
$font-size-base : 16px;
$font-weight-base: 400;
$font-size-sm : $font-size-base * 0.875;
$textarea-background-color: var(--tw-grey-50);


.vs-col {
  @apply px-2 ltr:float-left rtl:float-right;
}

@each $grid-name, $grid-size in $vs-grid-breakpoints {
  @media (min-width: $grid-size) {
    @for $i from 1 through 12 {
      .vs-#{$grid-name}-#{$i} {
        width: percentage($i / 12) !important;
      }
    }
  }
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em
  }
  ::-webkit-scrollbar-button {
    background: transparent !important
  }
  ::-webkit-scrollbar-track-piece {
    background: transparent !important
  }
  ::-webkit-scrollbar-thumb {
    background: #244a9a !important
  }
}


html {
  @apply text-base text-grey-700;
  height: 100%;
  width: 100%;
  @apply text-right;
  direction: rtl;
}

body {
  @apply text-grey-900 text-sm font-normal overflow-x-hidden max-w-full h-full;
  font-family: $IRANSansX;
  @apply text-right;
}


@media (max-width: 992px) {
  .no-scroll-for-body {
    max-height: 100vh;
    overflow-y: hidden;
  }
}




:root {

  @each $color, $value in $vs-colors {
    --vs-#{$color}: #{$value};
  }

  --fa-animation-duration: 1s;
  --animate-duration: 0.3s;
  --animate-repeat: 1;
  --app-height: 100%;
  --fa-secondary-opacity: 0.9;
  --fa-primary-color: #234a9a;
  --fa-secondary-color: #e1e1e1;
}


.vs-notifications {
  z-index: 2000000;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.lang-dir {
  direction: rtl !important;
}

.lang-align {
  text-align: right !important;
}

.v-popper__popper {
  z-index: 10010 !important;
}

.vpd-is-popover, .vpd-wrapper {
  z-index: 10010 !important;
}


.card-wrapper {
  @apply mt-4;
  @apply w-full flex-1 flex-col items-center justify-center;
  @apply border border-solid border-grey-200;
  @apply shadow-sm;
  @apply rounded-lg;
  @apply overflow-visible;
  .card {
    @apply flex h-20 flex-1 cursor-pointer flex-wrap items-center justify-between bg-white px-4 md:px-8 rounded-lg;
  }

  &:first-child {
    @apply mt-0;
  }
}

.card__count-details {
  @apply flex gap-3 md:gap-5;
  align-items: center;
}

.card__expanded {
  @apply rounded-b-none border-b-0 bg-grey-200 #{!important};
}

.card__expanded-details-box {
  @apply h-full rounded-b-lg bg-white p-3 md:p-6;
}

.vpd-time .vpd-time-h, .vpd-time .vpd-time-m {
  @apply flex flex-col justify-center items-center;
}

th {
  .fc-scroller {
    overflow-y: hidden !important;
  }
}




.com-common-empty {
  > .image-box {
    > img {
      @apply opacity-70 w-2/3 md:w-3/4 mx-auto;
    }

    > i {
      @apply absolute left-1/2 bottom-1/4 text-white text-2xl;
      transform: translate(-40%, 8px);
    }
  }

}

.flip-list-move {
  transition: transform 0.3s !important;
}
.no-move {
  transition: transform 0s;
}

.sortable-ghost{
  @apply bg-primary-100 opacity-50;
}
.sortable-chosen{
  @apply shadow-2xl;
}

div {
  > .con-vs-loading{
    @apply rounded-lg;
  }
}

.apexcharts-legend-text{
  @apply px-2 mx-0 #{!important};
}

.vue-grid-item>.vue-resizable-handle{
  @apply right-2 left-auto bottom-2 #{!important};
}

.vue-grid-item.vue-grid-placeholder {
  @apply bg-primary-100 opacity-30 z-2 rounded-lg #{!important};
}



.default__layout {
  @apply flex relative justify-center w-full h-full;
  .page__wrapper {
    @apply flex justify-center w-full h-full;
    @apply overflow-y-hidden;
  }
}

.auth__register {
  @apply h-screen;
  @media not all and (hover: hover) {
    height: var(--app-height);
  }
}

.h-compatible-screen {
  @apply h-screen;
  @media not all and (hover: hover) {
    height: var(--app-height) !important;
  }
}

.content-area {
  @apply  w-full overflow-y-auto overflow-x-hidden;
  @media not all and (hover: hover) {
    height: var(--app-height);
  }
  &__content {
    @apply pb-16  ;
  }
}

.vs-row {
  clear: both;
  flex-flow: wrap;
}

h1 {
  @apply text-grey-600;
  font-size: $h1-font-size !important;
  font-weight: $headings-font-weight !important;
}

h2 {
  @apply text-grey-600;
  font-size: $h2-font-size !important;
  font-weight: $headings-font-weight !important;
}

h3 {
  @apply text-grey-600;
  font-size: $h3-font-size !important;
  font-weight: $headings-font-weight !important;
}

h4 {
  @apply text-grey-600;
  font-size: $h4-font-size !important;
  font-weight: $headings-font-weight !important;
}

h5 {
  @apply text-grey-600 mt-2 mb-1 #{!important};
  font-size: $h5-font-size !important;
  font-weight: $headings-font-weight !important;
}

h6 {
  @apply text-grey-600 font-medium #{!important};
  font-size: $h6-font-size !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//this is because of tailwind
.safelist {
  @apply border-danger-50 bg-danger-100 rotate-90;
}

.start-visit-lg-button {
  @apply border-0 bg-primary text-white fixed bottom-4 ltr:right-4 rtl:left-4 transition-all;
  @apply cursor-pointer text-base rounded-full flex gap-2 items-center px-12 py-4 z-50;
  box-shadow: 0 0 10px var(--tw-primary);

  &:hover {
    box-shadow: 0 0 20px var(--tw-primary);
  }
}

.layout--full-page {
  @apply h-compatible-screen overflow-y-auto;
}

.stepper-line {
  position: absolute;
  top: 28px;

  .dir-rtl & {
    right: 60px;
  }

  .dir-ltr & {
    left: 60px;
  }

  width: calc(100% - 64px) !important;
}


#_setup_step_office_map {
  @apply relative;
  .water-mark {
    top: 0;
    right: 0;
    position: absolute;
  }

  .neshan,
  .neshan-web-app,
  .neshan-platform,
  .open-street {
    @apply hidden;
  }
}

.parent-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.layout-header-naviation-button-groups {
  .layout-header-naviation-button-item {
    .vs-button {
      @apply rounded-none;
      @apply rtl:border-r-0 ltr:border-l-0 #{!important};
    }

    &:first-child {
      .vs-button {
        @apply rtl:rounded-tr-md rtl:rounded-br-md;
        @apply ltr:rounded-tl-md ltr:rounded-bl-md;
        @apply rtl:border-r ltr:border-l #{!important};
      }
    }

    &:nth-child(2) {
      .vs-button {
        @apply rtl:md:rounded-tr-md rtl:md:rounded-br-md;
        @apply ltr:md:rounded-tl-md ltr:md:rounded-bl-md;
        @apply rtl:md:border-r #{!important};
        @apply ltr:md:border-l #{!important};
      }
    }

    &:last-child {
      .vs-button {
        @apply rtl:rounded-tl-md rtl:rounded-bl-md;
        @apply ltr:rounded-tr-md ltr:rounded-br-md;
      }
    }
  }
}



.zoom-fade-enter-active,
.zoom-fade-leave-active {
  transition: transform .35s, opacity .28s ease-in-out;
}

.zoom-fade-enter {
  transform: scale(0.97);
  opacity: 0;
}

.zoom-fade-leave-to {
  transform: scale(1.03);
  opacity: 0;
}


// ///////////////////////////////////////////////
// Fade Regular
// ///////////////////////////////////////////////
.fade-enter-active,
.fade-leave-active {
  transition: opacity .28s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


// ///////////////////////////////////////////////
// Page Slide
// ///////////////////////////////////////////////
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: opacity .35s, transform .4s;
}

.slide-fade-enter {
  opacity: 0;
  transform: translateX(-30%);
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(30%);
}


// ///////////////////////////////////////////////
// Zoom Out
// ///////////////////////////////////////////////
.zoom-out-enter-active, .zoom-out-leave-active {
  transition: opacity .35s ease-in-out, transform .45s ease-out;
}

.zoom-out-enter, .zoom-out-leave-to {
  opacity: 0;
  transform: scale(0);
}


// ///////////////////////////////////////////////
// Fade Bottom
// ///////////////////////////////////////////////

// Speed: 1x
.fade-bottom-enter-active, .fade-bottom-leave-active {
  transition: opacity .3s, transform .35s;
}

.fade-bottom-enter {
  opacity: 0;
  transform: translateY(-8%);
}

.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(8%);
}

// Speed: 2x
.fade-bottom-2x-enter-active, .fade-bottom-2x-leave-active {
  transition: opacity .2s, transform .25s;
}

.fade-bottom-2x-enter {
  opacity: 0;
  transform: translateY(-4%);
}

.fade-bottom-2x-leave-to {
  opacity: 0;
  transform: translateY(4%);
}


// ///////////////////////////////////////////////
// Fade Top
// ///////////////////////////////////////////////

// Speed: 1x
.fade-top-enter-active, .fade-top-leave-active {
  transition: opacity .3s, transform .35s;
}

.fade-top-enter {
  opacity: 0;
  transform: translateY(8%);
}

.fade-top-leave-to {
  opacity: 0;
  transform: translateY(-8%);
}

// Speed: 2x
.fade-top-2x-enter-active, .fade-top-2x-leave-active {
  transition: opacity .2s, transform .25s;
}

.fade-top-2x-enter {
  opacity: 0;
  transform: translateY(4%);
}

.fade-top-2x-leave-to {
  opacity: 0;
  transform: translateY(-4%);
}


///////////////////////////////////////////////////////////
// transition-group : list;
///////////////////////////////////////////////////////////
.list-leave-active {
  position: absolute;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}


///////////////////////////////////////////////////////////
// transition-group : list-enter-up;
///////////////////////////////////////////////////////////
.list-enter-up-leave-active {
  transition: none !important;
}

.list-enter-up-enter {
  opacity: 0;
  transform: translateY(30px);
}


///////////////////////////////////////////////////////////
// HOOPER
///////////////////////////////////////////////////////////
@keyframes zoomOut {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  to {
    opacity: 0
  }
}

.animate__zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut
}

.animate__animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  to {
    opacity: 0
  }
}


.bounce-to-right {
  animation: bounce-to-right 1s;
}

@keyframes bounce-to-right {
  0%, 30%, 60%, 90%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(.15, .63, .54, .89)
  }
  15% {
    transform: translateX(-30px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
  45% {
    transform: translateX(-15px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
  75% {
    transform: translateX(-5px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
}
.anim-scale {
  animation: anim-scale 1s cubic-bezier(.5,0,0,1);
}

@keyframes anim-scale {
  0% {
    opacity: 0;
    transform: scale(2) translate(-25%, -25%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

.bounce-to-left {
  animation: bounce-to-left 1s ease-in-out;
}
@keyframes bounce-to-left {
  0%, 30%, 60%, 90%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(.15, .63, .54, .89)
  }
  15% {
    transform: translateX(30px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
  45% {
    transform: translateX(15px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
  75% {
    transform: translateX(5px);
    animation-timing-function: cubic-bezier(0.70, 0.20, 0.83, 0.37)
  }
}

.anim-delay-100{
  animation-delay: 100ms;
}
.anim-delay-300{
  animation-delay: 300ms;
}
.anim-delay-500{
  animation-delay: 500ms;
}
.anim-delay-700{
  animation-delay: 700ms;
}


.ace-jsoneditor{
  min-height: 250px !important;
}
div.jsoneditor-tree{
  min-height: 250px !important;
}


.CodeMirror-hints{
  @apply dir-ltr text-left;
}

.viewer-container{
  z-index:12000 !important;
}


@keyframes heartbeat {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
.animate-heartbeat{
  animation: heartbeat 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes heartpulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.animate-heartpulse{
  animation: heartpulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes shake {
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(20deg);
  }
  20%{
    transform: rotate(-20deg);
  }
  30%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }

}
.animate-shake{
  animation: shake 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


.font-emoji{
  font-family: "Apple Color Emoji","Segoe UI Emoji",noto color emoji,android emoji,emojione mozilla,twemoji mozilla,segoe ui symbol,emoji,var(--font-family-system)
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}




.no-scroll::-webkit-scrollbar {
  width: 0;
  height: 0
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

::-webkit-scrollbar-track {
  background: #e8ecf1;
  border-radius: 100px
}

::-webkit-scrollbar-thumb {
  background: #8995a7;
  border-radius: 100px
}

::-webkit-search-cancel-button, ::-webkit-search-decoration, ::-webkit-search-results-button, ::-webkit-search-results-decoration {
  display: none
}

.detail-card {
  @apply border border-dashed border-grey-300 rounded-lg bg-grey-25;
  .border-bottom-dashed {
    @apply border-b border-dashed border-b-grey-300;
  }
  .price-row {
    @apply flex justify-between items-center gap-4 py-2;
  }
}

.final-item-border {
  @apply rounded-b-lg border border-primary border-dashed;
}

.discount-button {
  @apply top-0 left-0;
  max-height: 3.125rem;
  @apply rounded-lg #{!important};
  &.btn-outline-primary {
    &:hover:not(:disabled) {
      @apply text-white bg-primary border-primary;
    }
  }
}

.line-on-text {
  float: left;
  width: max-content;
  opacity: 0.5;
  background: linear-gradient(
      to left top,
      transparent 47.75%,
      currentColor 49.5%,
      currentColor 50.5%,
      transparent 52.25%
  );
}

.text-pre {
  @apply whitespace-pre-line break-words;
  &:first-line {
    line-height: 0;
  }
}
