.slider{
  .hooper {
    height: auto !important;
    margin-top: -0.25rem;
    &-list {
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 0.5rem;
        height: 100%;
        z-index: 2;
      }
      &::before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
    &-prev,
    &-next {
      background: #ffffff;
      border-radius: 8px;
      @apply shadow-sm;
      width: 3rem;
      height: 3rem;
      z-index: 3;
      padding: 0.813rem;

      &:focus {
        outline: none;
      }
      &:hover {
        background-color: #234a9a;
        svg {
          fill: #ffffff;
        }
      }
    }
    .is-rtl {
      .hooper-prev {
        right: -0.5rem;
      }
      .hooper-next {
        left: -0.5rem;
      }
    }
    &-slide {
      padding: 0 0.75rem;
      margin: 0;
      height: auto;
    }
  }

}
